.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $gray-100;

  header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    width: 100%;
    height: 3.5rem;
    background-color: $blue;
    @include responsive-padding;

    
    .cart-header-wrapper {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      h3 {
        font-family: $font-secondary;
        font-size: 1.25rem;
      }
      
      span {
        font-family: $font-secondary;
        margin-left: 0.25rem;
      }
    }
  }

  section {
    height: 100%;
    min-height: calc(100vh - 6.5rem);
    // padding: 0 0.75rem 4rem;
    @include responsive-padding(0, 4rem);
  }

  footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 3rem;
    background-color: $blue;
    @include responsive-padding;

    .card-sum {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 0.5rem;
      margin-right: 2rem;

      :first-child {
        font-weight: 600;
      }
    }

    button {
      padding: 0 1.5rem;
      border: 0;
      // border-radius: 4px 0 0 4px;
      cursor: pointer;
    }
  }
}