.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background-color: $black;
  color: $gray-100;
  padding: 0 1rem;

  @include responsive-padding;

  .header-utilities {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    svg {
      cursor: pointer;
    }
  }

  .admin-button-container {
    position: fixed;
    bottom: 5rem;
    left: 0.75rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: $blue;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    z-index: 99;

    span {
      color: $black;
    }
  }

  span {
    font-family: $font-secondary;
    font-size: 1.25rem;
  }
}