.app-container {
  display: flex;
  flex-direction: column;
  background-color: $gray-200;

  .search-input-wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: $blue;
    cursor: pointer;

    @include responsive-padding(1rem, 1rem);
  }
}