// Color Palette
$white: #f1f1f1;
$gray-100: #dadada;
$gray-200: #E9EAE9;
$gray-500: #757575;
$gray-600: #575757;
$blue: #1cbdc8;
$black: #1b1b1b;

$assets-path: '../assets';

@mixin responsive-padding($pt: 0, $pb: 0) {
  padding: $pt 0.75rem $pb;

  @media only screen and ($tablet-size) {
    padding: $pt 4rem $pb;
  }
  @media only screen and ($notebook-size) {
    padding: $pt 6rem $pb;
  }
  @media only screen and ($desktop-size) {
    padding: $pt calc(8rem + 12vw) $pb;
  }
}

// Fonts
@font-face {
  font-family: "SF-Wonder-Comic-Italic-Bold";
  src: url("../assets/fonts/sf-wonder-comic/SF-Wonder-Comic-Bold-Italic.ttf");
}

@font-face {
  font-family: "SF-Wonder-Comic-Italic";
  src: url("../assets/fonts/sf-wonder-comic/SF-Wonder-Comic-Italic.ttf");
}

$font-primary: "Roboto", sans-serif;
$font-secondary: "SF-Wonder-Comic-Italic-Bold", sans-serif;
$font-third: "SF-Wonder-Comic-Italic", sans-serif;

// Media Variables
$tablet-size: "min-width: 510px";
$notebook-size: "min-width: 768px";
$desktop-size: "min-width: 1024px";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  -webkit-tap-highlight-color: transparent; // remove color highlight on tap

  // Remove arrows/spinners from numeric inputs
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    appearance: textfield;
  }
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
  width: fit-content;
  height: fit-content;
  &:focus-visible, &:focus-within, &:focus, &:active, &:target {
    border: 0;
    outline: 0;
    background-color: transparent;
  }
}

@import "../components/Header/Header";
@import "../components/SearchInput/SearchInput";
@import "../components/Banners/Banners";
@import "../components/NewsCards/NewsCards";
@import "../components/ProductsSection/ProductsSection";
@import "../components/ProductsCard/ProductsCard";
@import "../components/Cart/Cart";
@import "../components/CartItem/CartItem";
@import "../components/ProductDetails/ProductDetails";
@import "../components/ProductRegister/ProductRegister";
@import "../components/Footer/Footer";
@import "../components/WhatsappButton/WhatsappButton";
@import "../pages/Login/Login";
@import "../pages/ProductsManagement/ProductsManagement";
@import "./Home";