* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; // remove color highlight on tap
}

a {
  text-decoration: none;
    color: inherit;
    // -webkit-tap-highlight-color: transparent;
    &:focus-visible, &:focus-within, &:focus, &:active, &:target {
      border: 0;
      outline: 0;
      background-color: transparent;
    }
}

@import "../components/Header/Header";