* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
* input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
a:focus-visible, a:focus-within, a:focus, a:active, a:target {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background-color: #1b1b1b;
  color: #dadada;
  padding: 0 1rem;
}
.header-container .header-utilities {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header-container .header-utilities svg {
  cursor: pointer;
}

.search-input-container {
  position: relative;
  display: flex;
  width: 100%;
}
.search-input-container input {
  height: 2.5rem;
  width: 100%;
  padding: 0 3rem 0 0.5rem;
  border-radius: 4px;
  border: 0;
}
.search-input-container .search-icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 0.25rem;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  display: flex;
  background-color: #1cbdc8;
  border-radius: 4px;
}

.banners-container #main-banner {
  width: 100%;
  height: 300px;
}
.banners-container #main-banner .carousel-item {
  background-color: green;
  width: 100%;
  height: 100%;
}
.banners-container #main-banner #carousel-item-1 {
  background: url(../assets/dbz1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banners-container #main-banner #carousel-item-2 {
  background: url(../assets/dbz2.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banners-container #main-banner #carousel-item-3 {
  background: url(../assets/dbz3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banners-container #main-banner #carousel-item-4 {
  background: url(../assets/dbz-mini.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banners-container #promotion-banner {
  width: 100%;
  height: 3rem;
}
.banners-container #promotion-banner .swiper-button-next::after, .banners-container #promotion-banner .swiper-button-prev::after {
  font-size: 1.25rem;
}
.banners-container #promotion-banner .carousel-item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.banners-container #promotion-banner .carousel-item span {
  font-size: 0.875rem;
}

.news-cards-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-top: 1rem;
  gap: 1rem;
}
.news-cards-container .new-card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  height: 12rem;
  border-radius: 8px;
  color: #f1f1f1;
  overflow: hidden;
}
.news-cards-container .new-card-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.news-cards-container .new-card-wrapper span {
  font-size: 0.75rem;
  z-index: 20;
}
.news-cards-container .new-card-wrapper h2 {
  font-size: 1.425rem;
  z-index: 20;
}
.news-cards-container .new-card-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2.5rem;
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  background: transparent;
  color: #f1f1f1;
  z-index: 20;
}
.news-cards-container .potter {
  background: url(../assets/hp-bg.jpg);
  background-size: cover;
  background-position: center center;
}
.news-cards-container .lotr {
  background: url(../assets/lotr-bg.jpg);
  background-size: cover;
  background-position: center center;
}
.news-cards-container .cdz {
  background: url(../assets/cdz-bg.jpg);
  background-size: cover;
  background-position: center center;
}

.products-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.75rem;
  margin-top: 1rem;
  gap: 0.75rem;
}

.products-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 12rem;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}
.products-card-container .products-card-image-wrapper {
  position: relative;
  width: 100%;
  height: 180px;
}
.products-card-container .products-card-image-wrapper img {
  width: 100%;
  height: auto;
}
.products-card-container .products-card-image-wrapper aside {
  position: absolute;
  bottom: -0.55rem;
  left: 0.65rem;
  background-color: orangered;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  font-size: 0.625rem;
  color: #f1f1f1;
  padding: 0.125rem 0.5rem;
}
.products-card-container .products-card-info {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}
.products-card-container .products-card-info h4 {
  margin-top: 1rem;
  font-size: 0.925rem;
  font-weight: 500;
  color: #575757;
}
.products-card-container .products-card-info #original-price {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-decoration: line-through;
  color: #757575;
}
.products-card-container .products-card-info #reduced-price {
  font-weight: 600;
  color: #1cbdc8;
  font-size: 1.125rem;
}
.products-card-container .products-card-info #credit-benefits {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #575757;
}
.products-card-container .products-card-info :last-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.75rem;
  color: #575757;
}

.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #dadada;
}
.cart-container header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  width: 100%;
  height: 3.5rem;
  background-color: #1cbdc8;
}
.cart-container header .cart-header-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.cart-container header .cart-header-wrapper span {
  margin-left: 0.25rem;
}
.cart-container section {
  height: 100%;
  min-height: calc(100vh - 6.5rem);
  padding: 0 0.75rem 4rem;
}
.cart-container footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 3rem;
  background-color: #1cbdc8;
}
.cart-container footer .card-sum {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5rem;
  margin-right: 2rem;
}
.cart-container footer .card-sum :first-child {
  font-weight: 600;
}
.cart-container footer button {
  padding: 0 1rem;
  border: 0;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}

.cart-item-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  margin-top: 1rem;
  border-radius: 4px;
}
.cart-item-container img {
  width: 7rem;
}
.cart-item-container .cart-item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
}
.cart-item-container .cart-item-info span {
  font-size: 0.975rem;
}
.cart-item-container .cart-item-info .cart-item-sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.cart-item-container .cart-item-info .cart-item-sum .cart-input-wrapper {
  display: flex;
}
.cart-item-container .cart-item-info .cart-item-sum .cart-input-wrapper input {
  width: 3rem;
  height: 1.75rem;
  text-align: center;
  border: 0;
  background-color: transparent;
}
.cart-item-container .cart-item-info .cart-item-sum .cart-input-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  background-color: #1cbdc8;
  color: white;
  border: 0;
  border-radius: 4px;
  font-size: 1.125rem;
  cursor: pointer;
}
.cart-item-container .cart-item-info .cart-item-sum span {
  font-size: 0.925rem;
}

.product-details-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: white;
}
.product-details-container section {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}
.product-details-container section img {
  width: 100%;
  margin-top: 2rem;
}
.product-details-container section .product-details-values {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
  margin-top: 1rem;
  border-top: 1px solid #dadada;
}
.product-details-container section .product-details-values .product-details-prices :first-child {
  text-decoration: line-through;
  font-size: 0.875rem;
  color: #757575;
}
.product-details-container section .product-details-values .product-details-prices :last-child {
  font-size: 1.375rem;
  font-weight: 600;
  color: #1cbdc8;
  margin-left: 0.5rem;
}
.product-details-container section .product-details-quantity-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px solid #dadada;
}
.product-details-container section .product-details-quantity-wrapper .quantity-row {
  display: grid;
  grid-template-columns: -webkit-min-content auto -webkit-min-content;
  grid-template-columns: min-content auto min-content;
  width: 100%;
  gap: 0.75rem;
}
.product-details-container section .product-details-quantity-wrapper .quantity-row input {
  height: 3rem;
  border: 1px solid #dadada;
  border-radius: 4px;
  text-align: center;
  cursor: default;
}
.product-details-container section .product-details-quantity-wrapper .quantity-row button {
  margin: 0;
  width: 4rem;
}
.product-details-container section .product-details-quantity-wrapper button {
  width: 100%;
  height: 3rem;
  border: 0;
  background-color: #1cbdc8;
  color: #f1f1f1;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
}
.product-details-container section .product-details-quantity-wrapper span {
  text-align: center;
  font-size: 0.675rem;
  margin-top: 0.25rem;
}
.product-details-container section .produt-details-description-wrapper {
  padding: 1rem 0.75rem;
  border: 1px solid #dadada;
}
.product-details-container section .produt-details-description-wrapper p {
  margin-top: 0.75rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgb(4, 31, 33);
  background: linear-gradient(0deg, rgb(2, 19, 20) 10%, rgb(13, 94, 100) 50%, rgb(28, 189, 200) 100%);
}
.login-container .login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 22rem;
  height: 30rem;
  border-radius: 16px;
}
.login-container .login-wrapper #close-button {
  position: absolute;
  top: 2rem;
  right: 0.75rem;
  cursor: pointer;
}
.login-container .login-wrapper h3 {
  color: #f1f1f1;
}
.login-container .login-wrapper .input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  gap: 0.75rem;
}
.login-container .login-wrapper .input-wrapper .input-row {
  position: relative;
}
.login-container .login-wrapper .input-wrapper .input-row input {
  display: flex;
  height: 2rem;
  width: 100%;
  max-width: 30rem;
  padding: 0 0.5rem 0 2.5rem;
  border-radius: 8px;
  border: 0;
}
.login-container .login-wrapper .input-wrapper .input-row input::-moz-placeholder {
  font-weight: 500;
}
.login-container .login-wrapper .input-wrapper .input-row input:-ms-input-placeholder {
  font-weight: 500;
}
.login-container .login-wrapper .input-wrapper .input-row input::placeholder {
  font-weight: 500;
}
.login-container .login-wrapper .input-wrapper .input-row .login-icons {
  position: absolute;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}
.login-container .login-wrapper .input-wrapper .input-row .password-eye-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.login-container .login-wrapper #forgot-password, .login-container .login-wrapper #register {
  color: white;
  font-size: 0.8125rem;
  cursor: pointer;
}
.login-container .login-wrapper #forgot-password {
  margin-top: 1.25rem;
}
.login-container .login-wrapper #register {
  margin-top: 0.75rem;
}
.login-container .login-wrapper button {
  margin-top: 2rem;
  border: 2px solid #1cbdc8;
  background-color: transparent;
  color: #f1f1f1;
  border-radius: 12px;
  padding: 0.25rem 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.products-management-container {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: #E9EAE9;
}
.app-container .search-input-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #1cbdc8;
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */